.market {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  color: #2E3333;

  display: flex;
  flex-direction: column;
  height: auto;         
  max-height: 40vh;      
}

.market-items-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  overflow-y: auto;     
  max-height: 50vh;      
}

/* Bouton */
.buttonToBuy {
  width: 100%;
  height: 50px;
  background-color: #02cdbd;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Sommaire */
.market-summary {
  margin-top: 20px;
}

.summary-line,
.total-line {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 10px;
}

.total {
  font-weight: bold;
  font-size: 20px;
}

.total-line span {
  font-weight: bold;
  font-size: 20px;
}

.empty-market-message {
  text-align: center;
  color: #6a6e6e;
  margin-top: 20px;
}
