/* ----------------------------
   GLOBAL
----------------------------- */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #e9ebeb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 100%;
  background-color: #e9ebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
}

.foodandmarket {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.menu-rolley {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
